







 <nav class="navbar fixed-bottom navbar-expand-lg navColorCustom" style=" z-index: -1;">
    <div class="container-fluid">
      <i>&copy; Copyright Poll Aliens 2022.</i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-square-caret-down"></i>
      </button>
  </div>
</div>
</nav> 