<div class="container">
    
    <div class="row" style="margin-top: 20px;">
        <h1>WE ARE POLL ALIENS</h1>

        <div class="row" style="margin-top: 20px;">
            <div class="col d-flex justify-content-left" >
                We are a group of intergalactic space surveyors whose mission is to deliver superstellar information in the form of...
                5-question surveys.
            </div>
        </div>
    </div>
</div>