
<div class="home-container">
  <div class="home-title"> <h5>CREATE YOUR NEXT SURVEY</h5> </div>
</div>
<button type="button" class="btn btn-primary mb1 bg-purple btn-lg" id="login-buttom">
  <a class="btn btn-primary <%= (page == 'login') ? '' : ''; %>" href="./login" role="button">Login</a>
</button>




<!-- Bootstrap Carousel with 3 sliders t switches every 3 seconds--
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>    
    <div class="carousel-inner">
        --Mission slider--
      <div class="carousel-item active" data-bs-interval="3000">
        <br>
        <img src="./Assets/images/PollAliensLogo.jpeg" class="d-block" alt="logo">
        <div class="carousel-caption d-none d-md-block">
          <h1>POLL ALIENS</h1>
          <p><em>Surveys Done Right!</em></p>
        </div>
      </div>
      --Who am I? slider--
      <div class="carousel-item" data-bs-interval="3000">
        <i class="fa-solid fa-square-poll-vertical d-block"></i>
        <div class="carousel-caption d-none d-md-block">
          <h1>Statistics at your Finger-Tips</h1>
          <p><em>Easily view results!</em></p>
        </div>
      </div>
      --View project slider--
      <div class="carousel-item" data-bs-interval="3000">
        <br>
        <i class="fa-solid fa-file-lines d-block"></i>
        <div class="carousel-caption d-none d-md-block">
          <h5>Customize your Surveys</h5>
          <p>Try it today!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
   bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->