
<body>
	<section class="login ">
		<div class="login_box collapse">
			<div class="left">
				<div class="top_link"><a href="./home"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
        <br>
				<div class="contact">
          
					<form method="POST" id="loginForm" novalidate>
						<h1 class="display-4">LOG IN</h1>
            <br>
						<input type="text" class="form-control" id="username" name="username" placeholder="  ENTER YOUR USERNAME">
            <br>
						<input type="password" class="form-control" id="password" name="password" placeholder="  ENTER YOUR PASSWORD">
						<a type="button" class="btn btn-lg submit "tabindex="-1" role="button" aria-disabled="true">LOG IN</a>
            
            <!--One time registration for user-->
         <p class="text-center text-muted small">
          <br>
          <a class="link" href="/register">Register Here!</a>
          <br>
        </p> 
					</form>
				</div>
			</div>
			  <div class="right">
				<div class="right-text">
					<img src=/Assets/images/PollAliensLogo.jpeg>
				</div>
         			
		</div>
	</section>
</body>
</html>

