<!--Bootstrap responsive card for profile-->
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./Assets/images/profile_about.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Poll Aliens</h3>
          <p class="card-text" style="text-align: justify;">I love to think of myself of an "Ultra Hight Tech" hobbyist and innovator. I am very passionate about technology and as such, I love to tinker with Arduino microcontrollers and Raspberry Pi mini computers. I am always striving to expand my knowledge base whether it is programming computers, basic image & video editing or even piloting a drone.</p>
        </div>
        <h5 class="card-header">My Resume</h5>
        <div class="card-body">
         
          <p class="card-text">Have a look at my Resume</p>
          <!--Links to resume-->
          <a href="./Assets/docs/SANJAY_MAHABIR_Resume.pdf" class="btn btn-primary" target="_blank">Open in new tab</a>
          <a href="./Assets/docs/SANJAY_MAHABIR_Resume.pdf" class="btn btn-primary" download>Download Pdf</a>
          <p>See below:</p>
        </div>
      </div>
    </div>
    
  </div>