<div>
<div class="card mb-3" >
    <div class="card-header">
      Contact Me
    </div>
    <div class="card-body">
      <p class="card-text"><b>Phone:</b> Coming soon!</p>
      <p class="card-text"><b>Email:</b> smahab13@my.centennialcollege.ca</p>
      <p class="card-text"><b>Mailing Address:</b> Toronto Canada</p>
      <a target="_blank" href="mailto:smahab13@my.centennialcollege.ca" class="btn btn-primary">Email me</a>
    </div>
  </div>
  <br>
 <hr> 
 <br>
 <h2>Contact me directly below:</h2> 
<!--Contact form, data stored in with web storage-->
<!--Event handlers in app.ts to store data when button is clicked and retrieve when page loaded-->
<form>
  <div class="mb-3">
    <label for="fname" class="form-label">First name</label>
    <input type="text" class="form-control" id="fname" placeholder="First name">
  </div>
  <div class="mb-3">
    <label for="lname" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lname" placeholder="Last name">
  </div>
  <div class="mb-3">
    <label for="pnum" class="form-label">phone number</label>
    <input type="text" class="form-control" id="pnum" placeholder="(xxx)-xxx-xxxx">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>

  <!--Button is not of type submit for now-->
  <button id="submitBtn" class="btn btn-primary" type="button">Submit form</button>

</form>

</div>