<!--Bootstrap Carousel with 3 sliders t switches every 3 seconds-->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>    
    <div class="carousel-inner">
        <!--Mission slider-->
      <div class="carousel-item active" data-bs-interval="3000">
        <br>
        <a href="/services"><img src="./Assets/images/PollAliensLogo.jpeg" class="d-block" alt="logo"></a>
        <div class="carousel-caption d-none d-md-block">
          <h1>MY MISSION</h1>
          <p><em>To use Science & Technology to push the human race forward</em></p>
        </div>
      </div>
      <!--Who am I? slider-->
      <div class="carousel-item" data-bs-interval="3000">
        <a href="/about"><i class="fa-solid fa-address-card d-block"></i></a>
        <div class="carousel-caption d-none d-md-block">
          <h1>Who am I, you ask?</h1>
          <p><em>Click to find out more about me</em></p>
        </div>
      </div>
      <!--View project slider-->
      <div class="carousel-item" data-bs-interval="3000">
        <br>
        <a href="/projects"><i class="fa-solid fa-robot d-block"></i></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Have a look at my Robot projects</h5>
          <p>Programming robots is really fun!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>