<div style="padding: 15px;"> <!--My skillset-->
<h3>I am always learning and expanding my skillset</h3>
<p>Currently I offer the following:</p>
<!--Images-->
<img style="width:200px;border-radius:50%;" src="./Assets/images/software.jpg">
<img style="width:350px;margin: 50px;" src="./Assets/images/laptop.png">
<img style="width:250px;border-radius:10%;" src="./Assets/images/coding.jpg">
<br><br>
<ul style="border: 2px solid black;">    
    <li>Programming in: 
        <ul> <!--nested list-->
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>Java</li>
            <li>C#</li>
            <li>C</li>
            <li>C++</li>
        </ul>        
    </li>
    <li>Android Mobile App Development </li>
    <li>Quality Assurance</li>
    <li>Video editing and image editing with Gimp</li>
    <li>Experienced with Microsoft Office Suite</li>
</ul>

</div>